<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Huerta en red</title>

	<link rel="stylesheet" type="text/css" href="{{URL_WEB}}/static/css/estilos.css">

</head>
<body>


	<header>

		<div id="header__web">
		
			<div id="header__web__logo">
				<img src="" alt="">
			</div>

			<div id="header__web__name">
				Huerta en Red
			</div>

		</div>

		<nav>
			<a href="{{URL_WEB}}?section=login">Login</a>
			<a href="{{URL_WEB}}?section=register">Register</a>
		</nav>		

	</header>


	<content>
		<p>Ya tenemos {{usuarios}} usuarios registrados</p>	
	</content>
	
	<footer>

		<div id="footer__author">

			{{ACTUAL_YEAR}}

			{{author}}
		</div>
	</footer>

</body>
</html>